@CHARSET "UTF-8";
h1{
	font-size: 100%;
	
}

h2{
	font-size: 100%;
}
.input-box{

	 width:98%;
	 padding:10px;
	 margin:10px 0;
	 
}
.grid3 input {
	width:27%;
	float:left;
	margin-right:3%;
}
.submit-button{
	width:100%;
    border-radius:20px;
    margin-top:10px;
    }
.common-button{
background: #fff;
    border:1px solid #000;
    padding:10px;  

}
.file-uploadbutton{
	width:20%;
	
	
}
