body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background: #fff;
	margin: 0;
	padding: 0;
	color: #000;
}

.header{


background:-webkit-linear-gradient(bottom, #B10612 12%, #C90812 57%);
background:linear-gradient(bottom, #B10612 12%, #C90812 57%);
border-top:1px solid #d2292d;
border-bottom:1px solid #99040c;
height:43px;
}
.header h1{
font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:bold;
color:#FFFFFF;
text-transform:capitalize;
line-height:43px;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
	font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
a img {
	border: none;
}

a:link {

	text-decoration: none; 
}
a:visited {

	text-decoration: none;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
}


.container {
	width: 80%;
	max-width: 1260px;
	min-width: 780px;
	background: #FFF;
	margin: 0 auto;

}


.sidebar1 {
	float: left;
	width: 20%;
	background: #93A5C4;
	padding-bottom: 10px;
}
.content {
	padding: 10px 0;
	width: 80%;
	float: left;
}


.content ul, .content ol { 
	padding: 0 15px 15px 40px;
}


ul.nav {
	list-style: none;/
	border-top: 1px solid #666; 
	margin-bottom: 15px;
}
ul.nav li {
	border-bottom: 1px solid #666;
}
ul.nav a, ul.nav a:visited { 
	padding: 5px 5px 5px 15px;
	display: block;
	text-decoration: none;
	background: #8090AB;
	color: #000;
}
ul.nav a:hover, ul.nav a:active, ul.nav a:focus { 
	background: #6F7D94;
	color: #FFF;
}


.footer {
	padding: 10px 0;
	
background:-webkit-linear-gradient(bottom, #B10612 12%, #C90812 57%);
background:linear-gradient(bottom, #B10612 12%, #C90812 57%);
	position: relative;
	clear: both;
}

.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft {
	float: left;
	margin-right: 8px;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
.mrgleft10{
margin-left:10px !important;
}
