<div class="wrapper row3">


  
<div id="container">
   <h1>Enter Delivery Address</h1>
<div class="address-form one_half first">
   <form class="rnd5" action="#" method="post">
            <div class="form-input clear">
              <label class="one_half first" for="author">Name <span class="required">*</span><br>
                <input type="text" name="author" id="author" value="" size="22">
              </label>
              <label class="one_half one_half_second" for="email">Phone Number <span class="required">*</span><br>
                <input type="text" name="email" id="email" value="" size="22">
              </label>
            </div>
            

            <div class="form-message">
                <label for= "message"> Address <span class="required">*</span><br>
                <input type="address" name="message" id="message" cols="25" rows="10"></input>
                </label>
             </div>

               <div class="form-message">
                <label for= "message"> Description <span class="required">*</span><br>
                <textarea name="description" id="description" cols="25" rows="10"></textarea>
                </label>
             </div>

            <p>
              <input type="submit" value="Submit">
            
            </p>
          </form>
</div>

<div class="one_half one_half_second">

        <section class="contact_details clear">
        <div class= "" >
<h5><a>Items You Ordered</a></h5>
<h6><a>Total : </a> <span class="total_amount"> <span/></h6>
<div class="cart-wheel-header">
  <div class="flt-lft item-name two_fifth">Name</div>
  <div class="flt-lft item-price two_fifth">Qty</div>
<div class="flt-lft item-number two_fifth"> Price</div>

</div>
<ul class="clear-float ">
  <li class="delivery-product-dispaly">
  <span class="delete top0" ></span>
<div>
<img src="../../images/menu_image/pongal.png"> </img>
<span>pongal</span>
</div>
<div>
2
</div>
<div>
2345
</div>
</li>

 <li class="delivery-product-dispaly">
  <span class="delete top0" ></span>
<div>
<img src="../../images/menu_image/pongal.png"> </img>
<span>pongal</span>
</div>
<div>
2
</div>
<div>
2345
</div>
</li>
</li>

 <li class="delivery-product-dispaly">
  <span class="delete top0" ></span>
<div>
<img src="../../images/menu_image/pongal.png"> </img>
<span>pongal</span>
</div>
<div>
2
</div>
<div>
2345
</div>
</li>
</li>

 <li class="delivery-product-dispaly">
  <span class="delete top0" ></span>
<div>
<img src="../../images/menu_image/pongal.png"> </img>
<span>pongal</span>
</div>
<div>
2
</div>
<div>
2345
</div>
</li>
</li>

 <li class="delivery-product-dispaly">
  <span class="delete top0" ></span>
<div>
<img src="../../images/menu_image/pongal.png"> </img>
<span>pongal</span>
</div>
<div>
2
</div>
<div>
2345
</div>
</li>

</ul>
<div class="total-block">

</div>
 

    </div>
        </section>

</div>

</div>

</div>