<div class="wrapper row3">
  <div id="container">
    <!-- ################################################################################################ -->
    <div class="three_quarter first">
      <div class="push50">
        <h1>Testimonials</h1>
        <!-- ################################################################################################ -->
        <div class="testimonial push50 clear">
          <div class="one_quarter first"><img src="../../images/team-member.gif" alt=""></div>
          <div class="three_quarter">
            <blockquote>
              <div class="marks">&ldquo;</div>
              <p>Phasellus felis metus, ornare nec consectetur a, placerat eu felis. Phasellus quis enim orci. Etiam vel dui nisi, sed semper urna. Ut mattis dignissim lacus, vitae pretium neque volutpat nec. Aliquam purus nibh, condimentum eu sollicitudin ut, tincidunt nec mauris. Sed vehicula dapibus felis id fermentum.</p>
              <p>Maecenas varius mattis sollicitudin. Nunc urna orci, vestibulum at scelerisque at, consectetur quis nibh. In hac habitasse platea dictumst. Etiam a dolor non ligula volutpat imperdiet vel sit amet massa. Curabitur mollis elementum lacus tristique tempor. Sed pellentesque venenatis nibh a ullamcorper.</p>
            </blockquote>
            <div class="testimonial-author">Name Goes Here | CEO</div>
          </div>
        </div>
        <!-- ################################################################################################ -->
        <div class="testimonial clear">
          <div class="one_quarter first"><img src="../../images/team-member.gif" alt=""></div>
          <div class="three_quarter">
            <blockquote>
              <div class="marks">&ldquo;</div>
              <p>Phasellus felis metus, ornare nec consectetur a, placerat eu felis. Phasellus quis enim orci. Etiam vel dui nisi, sed semper urna. Ut mattis dignissim lacus, vitae pretium neque volutpat nec. Aliquam purus nibh, condimentum eu sollicitudin ut, tincidunt nec mauris. Sed vehicula dapibus felis id fermentum.</p>
              <p>Maecenas varius mattis sollicitudin. Nunc urna orci, vestibulum at scelerisque at, consectetur quis nibh. In hac habitasse platea dictumst. Etiam a dolor non ligula volutpat imperdiet vel sit amet massa. Curabitur mollis elementum lacus tristique tempor. Sed pellentesque venenatis nibh a ullamcorper.</p>
            </blockquote>
            <div class="testimonial-author">Name Goes Here | CEO</div>
          </div>
        </div>
        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->
      <div class="divider2"></div>
      <!-- ################################################################################################ -->
      <div class="clear">
        <!-- ################################################################################################ -->
        <div class="one_half first">
          <div class="testimonial clear">
            <div class="one_quarter first"><img src="../../images/team-member.gif" alt=""></div>
            <div class="three_quarter">
              <blockquote>
                <div class="marks">&ldquo;</div>
                <p>Phasellus felis metus, ornare nec consectetur a, placerat eu felis. Phasellus quis enim orci. Etiam vel dui nisi, sed semper urna. Ut mattis dignissim lacus, vitae pretium neque volutpat nec. Aliquam purus nibh, condimentum eu sollicitudin ut, tincidunt nec mauris. Sed vehicula dapibus felis id fermentum.</p>
                <p>Maecenas varius mattis sollicitudin. Nunc urna orci, vestibulum at scelerisque at, consectetur quis nibh. In hac habitasse platea dictumst. Etiam a dolor non ligula volutpat imperdiet vel sit amet massa. Curabitur mollis elementum lacus tristique tempor. Sed pellentesque venenatis nibh a ullamcorper.</p>
              </blockquote>
              <div class="testimonial-author">Name Goes Here | CEO</div>
            </div>
          </div>
        </div>
        <!-- ################################################################################################ -->
        <div class="one_half">
          <div class="testimonial clear">
            <div class="one_quarter first"><img src="../../images/team-member.gif" alt=""></div>
            <div class="three_quarter">
              <blockquote>
                <div class="marks">&ldquo;</div>
                <p>Phasellus felis metus, ornare nec consectetur a, placerat eu felis. Phasellus quis enim orci. Etiam vel dui nisi, sed semper urna. Ut mattis dignissim lacus, vitae pretium neque volutpat nec. Aliquam purus nibh, condimentum eu sollicitudin ut, tincidunt nec mauris. Sed vehicula dapibus felis id fermentum.</p>
                <p>Maecenas varius mattis sollicitudin. Nunc urna orci, vestibulum at scelerisque at, consectetur quis nibh. In hac habitasse platea dictumst. Etiam a dolor non ligula volutpat imperdiet vel sit amet massa. Curabitur mollis elementum lacus tristique tempor. Sed pellentesque venenatis nibh a ullamcorper.</p>
              </blockquote>
              <div class="testimonial-author">Name Goes Here | CEO</div>
            </div>
          </div>
        </div>
        <!-- ################################################################################################ -->
      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <div id="sidebar_1" class="sidebar one_quarter">
      <aside>
        <!-- ########################################################################################## -->
        <h2>Side Navigation</h2>
        <nav>
          <ul>
            <li><a href="#">Free Website Templates</a></li>
            <li><a href="#">Free CSS Templates</a>
              <ul>
                <li><a href="#">Free XHTML Templates</a></li>
                <li><a href="#">Free Web Templates</a></li>
              </ul>
            </li>
            <li><a href="#">Free Website Layouts</a>
              <ul>
                <li><a href="#">Free HTML 5 Templates</a></li>
                <li><a href="#">Free Webdesign Templates</a>
                  <ul>
                    <li><a href="#">Free FireWorks Templates</a></li>
                    <li><a href="#">Free PNG Templates</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="#">Free Responsive Templates</a></li>
          </ul>
        </nav>
        <!-- /nav -->
        <section>
          <h2>Get In Contact</h2>
          <address>
          Full Name<br>
          Address Line 1<br>
          Address Line 2<br>
          Town/City<br>
          Postcode/Zip<br>
          <br>
          Tel: xxxx xxxx xxxxxx<br>
          Email: <a href="#">contact@domain.com</a>
          </address>
        </section>
        <!-- /section -->
        <section>
          <article>
            <h2>Lorem ipsum dolor</h2>
            <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed.</p>
            <ul class="list indent disc">
              <li><a href="#">Lorem ipsum dolor sit</a></li>
              <li>Etiam vel sapien et</li>
              <li><a href="#">Etiam vel sapien et</a></li>
            </ul>
            <p>Nuncsed sed conseque a at quismodo tris mauristibus sed habiturpiscinia sed. Condimentumsantincidunt dui mattis magna intesque purus orci augue lor nibh.</p>
            <p class="more"><a href="#">Continue Reading &raquo;</a></p>
          </article>
        </section>
        <!-- /section -->
        <!-- ########################################################################################## -->
      </aside>
    </div>
    <!-- ################################################################################################ -->
    <div class="clear"></div>
  </div>
</div>